.AddTaskForm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.AddTaskForm__input{
    background-color:#f7f1f1;
    border:none;
    font-size:medium;
    padding:0 1em;
    outline: none;
}
.AddTaskForm__btn{
    background-color:#8e0e00;
    border:none;
    outline: none;
    border:1px solid hsla(0,0%,100%,.3);
    color:#fff;
    cursor:pointer;
    font-weight:700;
    margin-left:5px;
    padding:0 1em;
    text-transform:uppercase;
    transition:background 0.2s ease-out;
}
.AddTaskForm__btn{
    background-color:#a01809
}

.AddTaskForm__btn,
.AddTaskForm__input{
    font-family:Quicksand,sans-serif;
    padding: 1rem 1em;
}