.Dashboard{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.Dashboard__nav{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: #e74c3c;
    padding: 10px;
}
.Dashboard__username,.Dashboard__email,.Dashboard button{
    margin-top: 3px;
}
.Dashboard__title{
    text-align: center;
    font-size: 48px;
}
.Dashboard__list{
    list-style: none;
}